<div id="<%= dom_id abstrakte_abschlussarbeit %>">
  <p>
    <strong>Betreuer:</strong>
    <%= abstrakte_abschlussarbeit.betreuer %>
  </p>

  <p>
    <strong>Forschungsprojekt:</strong>
    <%= abstrakte_abschlussarbeit.forschungsprojekt %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= abstrakte_abschlussarbeit.semester %>
  </p>

  <p>
    <strong>Thema:</strong>
    <%= abstrakte_abschlussarbeit.thema %>
  </p>

  <p>
    <strong>Themenskizze:</strong>
    <%= abstrakte_abschlussarbeit.themenskizze %>
  </p>

  <p>
    <strong>Projekt:</strong>
    <%= abstrakte_abschlussarbeit.projekt_id %>
  </p>

</div>
