<div id="<%= dom_id konkrete_abschlussarbeit %>">
  <p>
    <strong>Betreuer:</strong>
    <%= konkrete_abschlussarbeit.betreuer %>
  </p>
  <p>
    <strong>Forschungsprojekt:</strong>
    <%= konkrete_abschlussarbeit.forschungsprojekt %>
  </p>

  <p>
    <strong>Projekt_ID:</strong>
    <%= konkrete_abschlussarbeit.projekt_id %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= konkrete_abschlussarbeit.semester %>
  </p>

  <p>
    <strong>Matrikelnummer:</strong>
    <%= konkrete_abschlussarbeit.matrikelnummer %>
  </p>

  <p>
    <strong>Angepasste themenskizze:</strong>
    <%= konkrete_abschlussarbeit.angepasste_themenskizze %>
  </p>

  <p>
    <strong>Gesetzte schwerpunkte:</strong>
    <%= konkrete_abschlussarbeit.gesetzte_schwerpunkte %>
  </p>

  <p>
    <strong>Anmeldung pruefungsamt:</strong>
    <%= konkrete_abschlussarbeit.anmeldung_pruefungsamt %>
  </p>

  <p>
    <strong>Abgabedatum:</strong>
    <%= konkrete_abschlussarbeit.abgabedatum %>
  </p>

  <p>
    <strong>Studienniveau:</strong>
    <%= konkrete_abschlussarbeit.studienniveau %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= konkrete_abschlussarbeit.student_id %>
  </p>

</div>
