<div id="<%= dom_id student %>" class="student-info">
  <div class="info-group row">
    <div class="info-label col-6">
      <i class="bi bi-envelope-fill"></i>
      <span>Email:</span>
    </div>
    <div class="info-value col-6">
      <%= student.email %>
    </div>
  </div>

  <div class="info-group row">
    <div class="info-label col-6">
      <i class="bi bi-credit-card-fill"></i>
      <span>Matrikelnummer:</span>
    </div>
    <div class="info-value col-6">
      <%= student.matrikelnummer %>
    </div>
  </div>

  <div class="info-group row">
    <div class="info-label col-6">
      <i class="bi bi-person-fill"></i>
      <span>Vorname:</span>
    </div>
    <div class="info-value col-6">
      <%= student.vorname %>
    </div>
  </div>

  <div class="info-group row">
    <div class="info-label col-6">
      <i class="bi bi-person-badge-fill"></i>
      <span>Nachname:</span>
    </div>
    <div class="info-value col-6">
      <%= student.nachname %>
    </div>
  </div>

  <div class="info-group row">
    <div class="info-label col-6">
      <i class="bi bi-calendar-fill"></i>
      <span>Geburtsdatum:</span>
    </div>
    <div class="info-value col-6">
      <%= student.geburtsdatum.strftime("%d.%m.%Y") if student.geburtsdatum %>
    </div>
  </div>
</div>
